* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Courier;
}

/* header circle button */

.differente .bottoni .fas {
  color: white;
  font-size: 30px;
}

.bottoni {
  position: absolute;
  top: 20px;
  right: 15px;
}

span.circle {
  font-size: 20px;
  color: black;
}

#one {
  position: absolute;
  top: 5px;
  left: 10px;
}

#two {
  position: absolute;
  top: 5px;
  left: 50px;
}

#three {
  position: absolute;
  top: 5px;
  left: 90px;
}


/* VH */
.differente {
  height: 100vh;
  background: #ff0000;
  position: relative;
}

.hilfiger {
  height: 100vh;
  background: #008000;
  position: relative;
}

.converse {
  height: 100vh;
  background-color: #ffff00;
  position: relative;
}

/* POSIZIONAMENTO SCARPE */
.shoes {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shoes-two {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: 10px;
}


.shoes-three {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* TITOLI SCARPE */
.text {
  color: #ffff00;
  position: absolute;
  font-size: 75px;
  text-transform: uppercase;
  text-shadow: 1px 1px;
  font-weight: bold;
  padding-left: 30px;
}

.space {
  margin-top: 7%;
  margin-left: 25%;
}


.text-converse {
  color: green;
  position: absolute;
  font-size: 75px;
  text-transform: uppercase;
  text-shadow: 1px 1px;
  font-weight: bold;
  padding-left: 30px;
}
