* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Courier;
}

/* VH */
.differente {
  height: 100vh;
  background: #ff0000;
  position: relative;
}

.hilfiger {
  height: 100vh;
  background: #008000;
  position: relative;
}

.converse {
  height: 100vh;
  background-color: #ffff00;
  position: relative;
}

/* POSIZIONAMENTO SCARPE */
.shoes {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shoes-two {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: 10px;
}


.shoes-three {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* TITOLI SCARPE */
.text {
  color: #ffff00;
  position: absolute;
  font-size: 67px;
  text-transform: uppercase;
  text-shadow: 1px 1px;
  font-weight: bold;
}

.space {
  margin-top: 7%;
  margin-left: 25%;
}


.text-converse {
  color: green;
  position: absolute;
  font-size: 67px;
  text-transform: uppercase;
  text-shadow: 1px 1px;
  font-weight: bold;
}
